html{
    background: linear-gradient(to right, yellow, royalblue);
}
header{
    text-align: center;
}
img{
    width: 200px;
    height: auto;
}
.logo_club{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 75px;
    margin-left: 10%;
}
.ligne1{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 7%;
    margin-top: 75px;
}
.ligne2{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 7%;
    margin-top: 75px;
}
footer{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}